.App {
  text-align: center;
}

.todos .todo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;
  padding: 1em;
  border: 1px solid #eee;
  box-shadow: 2px 4px 4px #eee;
  border-left: 4px solid #ddd;
}

.todos .todo.completed {
  text-decoration: line-through;
}